@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/* reseting defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* body styling, Lato font to be used across body unless where Roboto is specified */
body {
    font-family: Lato, sans-serif;
    min-height: 100vh;
    
}

/* hero image styling, image taken from CI tutorial "Love-Running" as my antivirus was blocking use of any background 
image from assets file  */
.hero-image {
  background-image: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png"); 
  height: 50vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* btflogo styling */
#btflogo {
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    float: left;
    width: 5vw;
    height: 5vw;
 }

  /* navigation menu styling */
 #navigation {
    margin-right: 1vw;
    margin-top: 1vw;
    font-size: 130%;
    letter-spacing: 0.2vw;
    list-style-type: none;
    float: right;
 }

 #navigation ul {
     float: right;     
 }

#navigation li {
    display: inline-block;
    margin-right: 2vw;
    font-weight: bold;
}

#navigation a {
    text-decoration: none;
    color: #f00;
}

#navigation a:hover {
    color: #ffffff;
}

#navigation .active {
    color: #ffffff;
}

/* hero-image-internal-container styling */
 
.hero-image-internal-container {
    font-size: 120%;
    color: #f00;
    font-weight: bold;
    letter-spacing: 0.5vw;
    text-align: center;
    background-color: rgba(170, 170, 170, .6); /* the #aaa colour equivalent in rgba */
    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: 16vw;
    padding: 0.2vw;
    width: auto;
    height: auto;
    position: absolute;

}

.hero-image-internal-container h3 {
    font-style: italic;
}

/* Join Now button styling */

#join-button {
    text-align: center;
    letter-spacing: 0.3vw;
    height: auto;
    width: auto;
    padding: 0.5vw;
    margin-left: 40vw;
    margin-right: 40vw;
    margin-top: 21.2vw;
    background-color: #aaa;
    position: absolute;

}

#join-button a {
    text-decoration: none;
    color: #f00;
    font-weight: bold;
    font-size: 120%;
}

#join-button a:hover {
    color: #ffffff;
    font-weight: bold;
}

/* homepage text styling */

.homepage h2 {
    color: #f00;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0.5vw;
}

.homepage p {
    margin-bottom: 5px;
    margin-left: 0.5vw;
    margin-right: 1vw;
}


.homepage-facilities-img-container {
    display: inline-block;
    width: 100vw;
}

.homepage-facilities-img-container img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25vw;
    height: 30vh;
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
}


footer {
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    font-family: Lato, sans-serif;
}

#upper-footer div {
    display: inline-block;
    width: 33%;
    color: #f00;
    text-align: center;
}


.social-media {
    text-align: center;

}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #f00;
}


#lower-footer div {
    width: 49.5%;
    display: inline-block;
}

 /* footer navigation styling */
 #navigation-footer {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    letter-spacing: 2px;
    list-style-type: none;
    float: left;
 }


 #navigation-footer ul {
     float: right;     
 }

#navigation-footer li {
    display: inline-block;
    margin-left: 20px;
}

#navigation-footer a {
    text-decoration: none;
    color: #f00;
}

#navigation-footer a:hover {
    color: #aaa;
}

#navigation-footer .active {
    color: #aaa;
}
footer h5 {
    color:#f00;
    text-align: center;
    font-weight: normal;
}

.submit-button {
    font-weight: bold;
    color: #f00;
    background-color: #aaa;
    letter-spacing: 2px;
}

.submit-button:hover {
    color: #ffffff;
    font-weight: bold;
}

input[type="reset"] {
    color: #f00;
    background-color: #aaa;


}
