/* importing google fonts Lato and Roboto */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/* reseting defaults */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* body styling, Roboto font to be used for top navigation and headings, Lato font to be used for footer navigation
and paragraph text */
body {
    font-family: "Lato", "Verdana", sans-serif;  
    background-color: #eee6ff;
    overflow-x: hidden;
}

/* hero-image styling */
.hero-image {
  /* Photo by Mor Shani on Unsplash, photo deemed most appropriate to use as it also resembles the view of Dublin Bay 
  from Booterstown  */
  background-image: url("../images/mor-shani-li4dxZ0KYRw-unsplash.jpg"); 
  background-color: black;
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* btflogo styling */
#btflogo {
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

/* top navigation menu styling */
#navigation {
    margin-right: 5px;
    margin-top: 5px;
    font-size: 130%;
    list-style-type: none;
    float: right;
}

#navigation ul {
     float: right;     
}

#navigation li {
    display: inline-block;
    margin-right: 20px;
    font-family: "Roboto", "Verdana", sans-serif;
    letter-spacing: 3px;
}

#navigation a {
    text-decoration: none;
    color: #f00;
}

#navigation a:hover {
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

#navigation .active {
    color: #f00;
    border-bottom: 1px solid #f00;
}

/* hero-image-internal-container styling */
.hero-image-internal-container {
    font-size: 120%;
    color: #f00;
    font-family: "Roboto", "Verdana", sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    background-color: rgba(170, 170, 170, .8); /* the #aaa colour equivalent in rgba */
    padding: 5px;
    position: absolute;
    bottom: 40px;
    left: 20%;
    right: 20%;
    margin: 0 auto;
}

.hero-image-internal-container h3 {
    font-style: italic;
}

/* Join Now button styling */
#join-button {
    height: 30px;
    width: 150px;
    text-align: center;
    font-family: "Roboto", "Verdana", sans-serif;
    letter-spacing: 4px;
    padding: 5px;
    background-color: #aaa;
    position: absolute;
    bottom: 5px;
    left: 40%;
    right: 40%;
    margin: 0 auto;
}

#join-button a {
    text-decoration: none;
    color: #f00;
    font-weight: bold;
    font-size: 120%;
}

#join-button a:hover {
    color: #ffffff;
    font-weight: bold;
}

/* homepage styling */
.homepage h2, .membership-page h2, .classesschedule-page h2, .gallery-page h2, .contact-page h2 {
    font-family: "Roboto", "Verdana", sans-serif;
    color: #f00;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 5px; 
}

.homepage p, .membership-page p, .classesschedule-page p, .contact-page p {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.homepage-facilities-img-container {
    clear: both;
    display: inline-block;
    width: 100%;
}

.homepage-facilities-img-container img {
    width: 25%;
    height: 250px;
    float: left;
    overflow: hidden;
    margin-top: 10px;
}

/* membership page styling */
#standard-membership {
    border: 2px solid black;
    width: 510px;
    height: 300px;
    border-radius: 5%;
    float: left;
    margin-left: 100px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

#standard-membership h3 {
    margin-left: 5px;
    margin-bottom: 10px;
}

.membership-price {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.membership-duration {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.buynow-button {
    font-weight: bold;
    font-size: 150%;
    color: #f00;
    background-color: #aaa;
    letter-spacing: 2px;
    width: 160px;
    border-radius: 5%;
    padding: 10px;
    margin-top: 80px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 175px;
}

.buynow-button:hover {
    color: #ffffff;
    font-weight: bold;
}

#gold-membership {
    border: 2px solid #664d00;
    color: #664d00;
    width: 510px;
    height: 300px;
    border-radius: 5%;
    float: right;
    margin-right: 100px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

#gold-membership h3 {
    margin-left: 5px;
    margin-bottom: 10px;
}

#pay-as-you-go {
    clear: both;
    margin: 0 auto;
    width: 80vw;
    border-radius: 5%;
    padding: 2px;
    text-align: center;
    letter-spacing: 2px;
    background-color: #aaa;
    color: #f00;
    font-weight: bold;
}


/* classes schedule page table styling */
table {
    border: 2px double black;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 99%;
}

table th {
    border: 2px double black;
    text-align: center;
    font-size: 110%;
    color: #f00;
    background-color: #aaa;
    width: 80px;
    padding: 20px;
}

table td {
    border: 2px double black;
    text-align: center;
    font-size: 110%;
    width: 80px;
    padding: 20px;
}

/* gallery page styling */
.gallery-photos {
    clear: both;
    line-height: 0px;
    column-count: 4;
    column-gap: 0px;
}

.gallery-photos img {
    width: 100%;
    height: 250px;
}

/* contact-page styling */
.contact-page {
  width: 100%;
}

#contact-intro {
    clear: both;
    margin: 0 auto;
    width: 80vw;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px;
    text-align: center;
    letter-spacing: 2px;
    color: #f00;
    background-color: #aaa;
    font-weight: bold;
}

.contact-faq {
    font-weight: bold;
    margin-top: 10px;
}

/* contact-page query form styling */
.query-form {
    font-family: "Lato", "Verdana", sans-serif;
    color: #f00;
    font-weight: bold;
    width: 500px;
    margin-left: 5px;
}

.query-details {
    width: 100%;
    height: 25px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.query-message {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.query-consent {
    margin-bottom: 20px;
}

.private-policy {
    color: #f00;
}

.private-policy:hover {
    color: #aaa;
}

.submit-button {
    font-weight: bold;
    font-size: 120%;
    color: #f00;
    background-color: #aaa;
    letter-spacing: 2px;
    width: 150px;
    padding: 5px;
    margin-right: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.submit-button:hover {
    color: #ffffff;
    font-weight: bold;
}

/* footer styling */
footer {
    clear: both;
    width: 100vw;
    margin-bottom: 10px;
    padding-top: 10px;
}

.footer-background {
    background-color: rgba(170, 170, 170, .5); /* the #aaa colour equivalent in rgba */
     
}

.upper-footer div {
    display: inline-block;
    width: 33vw;
    color: #f00;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    margin-right: 2px;
}


.social-media {
    text-align: center;

}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: xx-large;
    margin: 1%;
    padding: 5%;
    color: #f00;
}


.lower-footer div {
    width: 49.5vw;
    display: inline-block;
    vertical-align: middle; 

}

 /* footer navigation styling */
 #navigation-footer {
    margin-left: 2vw;
    margin-top: 30px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    list-style-type: none;
    float: left;
 }


 #navigation-footer ul {
     float: right;     
 }

#navigation-footer li {
    display: inline-block;
    margin-left: 20px;
}

#navigation-footer a {
    text-decoration: none;
    color: #f00;
}

#navigation-footer a:hover {
    color: #aaa;
    border-bottom: 1px solid #aaa
}

#navigation-footer .active {
    color: #f00;
    border-bottom: 1px solid #f00;
}

.footer-bottom {
    margin-bottom: 10px;
}

footer h5 {
    color:#f00;
    text-align: center;
    font-weight: normal;
}

/* site responsiveness for tablets */
@media screen and (max-width: 1200px) {
    /* hero-image container styling */
    .hero-image {
        height: 400px;
    }

    /* homepage styling */
    .hide-image-1 {
        display: none;
    }

    .homepage-facilities-img-container {
        width: 100%
    }

    .homepage-facilities-img-container img {
        width: 33%;
    }

    .gallery-photos {
    column-count: 3;
    }

    /* membership-page styling */
    #standard-membership {
        margin-left: 5%;
        width: 40%;
    }

    #gold-membership {
        margin-right: 5%;
        width: 40%;
    }

    .buynow-button {
    bottom: 20px;
    left: 30%;
    }

    /* classes schedule page styling */
    table th {
    font-size: 90%;
    }

    table td {
    font-size: 90%;
    }

    /* footer styling */
    .upper-footer div {
        width: 32vw;
    }

    #navigation-footer {
        letter-spacing: 1px;
        margin-right:2px;
        margin-left: 2px;
    }
}

/* site responsiveness for mobiles */
@media screen and (max-width: 943px) {
    /* hero-image container styling */
    .hero-image {
        height: 500px;
    }
    
    #navigation {
        clear: left;
        float: left;
        margin-left: 5px;
    }

    #navigation li {
        clear: left;
        float: left;
        margin-left: 5px;
        font-weight: bold;
    }

    .hero-image-internal-container {
        clear: left;
        float: left;
        font-size: 80%;
    }

    #join-button {
        font-size: 90%;
        left: 34%;
        margin: 0 auto;
    }

    /* homepage styling */
    .homepage h2, .membership-page h2, .classesschedule-page h2, .gallery-page h2, .contact-page h2 {
        width: 100%;
        text-align: center;
    }

    .hide-image-1 {
        display: none;
    }

    .hide-image-2 {
        display: none;
    }

    .homepage-facilities-img-container {
        width: 100%
    }

    .homepage-facilities-img-container img {
        width: 50%;
    }

    /* membership page styling */
    #standard-membership {
        margin-left: 5%;
        height: 400px;
    }

    #gold-membership {
        margin-right: 5%;
        height: 400px;
    }

    .buynow-button {
    bottom: 10px;
    left: 7%;
    }

    /* classes schedule page styling */
    table th {
    font-size: 50%;
    padding: 1px;
    }

    table td {
    font-size: 50%;
    padding: 1px;
    }

    /* gallery page styling */
    .gallery-photos {
    column-count: 2;
    }

    /* contact page styling */
    .query-form {
    width: 400px;
}

    /* footer styling */
    .upper-footer {
    margin-left: 10px;
    }

    .social-media {
    margin-left: 80px;
    }

    #navigation-footer li {
        clear: left;
        float: left;
        font-weight: bold;
    }
}